.wrapper {
  text-align: center;
  background-color: #f9fbfd;
  border-radius: 20px;
  font-size: 1.2rem;
  padding: 50px;
}
.item__icon {
  margin: 0 20px;
}
.header {
  font-size: 2rem;
  margin-bottom: 50px;
}
.mat-form-field {
  margin-right: 10px;
}
